* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
  background-image: url("./assets/images/bg-enhanced.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}

.center {
  --inner-shadow: -1px 2px 3px 1px rgba(0, 0, 0, 0.2) inset,
    1px -2px 3px 1px rgba(0, 0, 0, 0.2) inset;
  inline-size: clamp(30%, 18vw, 100%);
  max-inline-size: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 4px solid white;
  background-color: rgb(236, 236, 236);
  background-image: linear-gradient(
    180deg,
    rgb(237, 237, 237),
    rgb(135, 135, 135)
  );
  box-shadow: var(--inner-shadow);
  -webkit-box-shadow: var(--inner-shadow);
  -moz-box-shadow: var(--inner-shadow);
  transform: translateY(-2rem);
  padding: 2rem 1.5rem;
}

@media (min-height: 820px) {
  .center {
    padding-block: 2.5rem;
  }
}

@media (min-width: 1400px) and (max-width: 1724px) and (max-height: 820px) {
  .center {
    max-inline-size: 300px;
  }
}

@media (min-width: 1000px) and (min-height: 745px) {
  .center {
    inline-size: 23rem;
  }
}

@media (min-width: 1000px) and (min-height: 900px) {
  .center {
    inline-size: 25rem;
    max-inline-size: 400px;
    padding-block: 3rem;
  }
}

@media (max-width: 1000px) and (min-height: 700px) {
  .center {
    inline-size: clamp(45%, 45vw, 60vw);
    max-inline-size: 500px;
  }
}

form {
  --letter-spacing: 0.04rem;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

form > span {
  display: flex;
  justify-content: space-between;
  gap: 0.1rem;
}

a {
  color: white;
  font-size: 0.75rem;
}

input {
  font-size: clamp(1rem, 1vw, 1.25rem);
  padding: 0.2rem 0.5rem;
  outline: none;
  border: none;
  font-weight: 400;
  color: #6b7280;
  letter-spacing: var(--letter-spacing);
}

label > input {
  margin-top: 0.5rem;
}

button {
  border: none;
  padding: 0.4rem 0.8rem;
  font-weight: 700;
  color: rgb(46 81 155);
  background-color: rgb(237, 237, 237);
  background-image: linear-gradient(
    180deg,
    rgb(250, 250, 250),
    rgb(177, 177, 177)
  );
  border: 1px solid rgb(150, 150, 150);
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

footer {
  position: absolute;
  inset-block-end: 0;
  font-size: 0.7rem;
  padding-block-end: 1rem;
  color: #1f2937;
  font-weight: 300;
}

@media (min-width: 1400px) {
  footer {
    font-size: 0.8rem;
  }
}
